*{
  margin: 0;
  padding: 0;
}

.navbar {
    background: rgb(255, 196, 2) !important;
  }
  
  .navbar .navbar-brand {
    align-items: center;
    font-weight: bolder;
    color: #cdcdcd;
    font-size: 1.3em;
    margin-left: 6%;
  }
  .navbar-text {

    display: flex;
    position: relative;
    -webkit-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
  }
  .navbar-text:hover {
    color: #ffffff;
    cursor: pointer;
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
  
  .nav-item {
    margin-left: 40px;
  }
  .navbar .nav-item a {
    font-family: 'Sarabun', sans-serif;
    color: #1f1a1a;
    font-weight: bold;
    font-size:26px;
    display: block;
    margin-left: 60px;
    position: relative;
    -webkit-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
  }
  .nav-item:hover a {
    color: #ffffff;
    transform: scale(1.1);
  }

  .welcome {
    background-image: url(/images/pizzatop.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 800px;
    color:rgb(53, 77, 16);
    
  }

  .header {
    margin-top: 20px;
  }

  .welcome h1 {
    margin-top: 135px;
    font-weight: bolder;
    padding-top:340px;
}

.par {
  font-weight: bolder;
  font-size: 20px;
}

.about {
  padding:2rem 0;
}

.about p {
  font-size: 20px;
  font-weight: bolder;
  
}

.about h2 {
  font-weight: bold;
  
}

.heading {
  padding: 2rem 0;
}

.heading span{
  background:rgb(255, 196, 2);
  color:#fff;
  display: inline-block;
  padding : 1rem;
  clip-path: polygon(100% 0, 93% 50%, 100% 99%, 0% 100%, 7% 50%, 0% 0%);
}

.services .box-container {
  display: grid;
  grid-template-columns:repeat(auto-fit, minmax(30rem, 1fr));
  gap: 1.5rem;
}

.services .box-container .box {
  padding: 3rem, 2rem;
  background: white;
  outline: 0.5rem solid rgba(0,0,0,0.1);
  outline-offset: -1rem ;
  text-align: center;
  box-shadow: 1rem rgba(0,0,0,0.1);

}

.services .box-container .box:hover {
outline:0.5rem solid rgba(12, 12, 12, 0.1);
outline-offset: 0rem;
}

.services .box-container .box img{
  margin: 1rem 0;
  height: 15rem;
}

.services .box-container .box h3 {
  font-size: 2.5rem;
  line-height: 1.8;
  color: black;

}

.services .box-container .box p {
  padding: 1rem 0;
}

.menu .menu-slider {
  padding: 1rem;
  width: fit-content;
  
}

.menu .menu-slider:first-child {
margin-bottom: 2rem;


} 

.menu .menu-slider .box {
  width: auto;
  background: #fff;
  border-radius: 4rem;
  text-align: center;
  padding: 3rem 2rem;
  outline-offset: -1rem;
  outline:0.5rem solid rgba(0,0,0,0.1);
  box-shadow: 0.7rem rgba(0,0,0,0.1);;
  transition: 2s linear;

}

.menu .menu-slider .box:hover{
  outline-offset: 0rem;
  outline:0.3rem solid black;
}

.menu .menu-slider .box img {
height: 20rem;
}

.menu .menu-slider .box h3 {
  font-size: 2.5 rem;
  color: black;
}

.menu .menu-slider .box .price {
  font-size: 2 rem;
  color: black;
  padding: 3rem 0;
}

.menu .menu-slider .box .rating i {
  font-size: 1.6 rem;
  color:orange;
  padding: 3rem 0;
} 

.btn {
  font-size: 1.6 rem;
  color: black;
  background-color:orange;
  padding: 1rem 0.3rem;

} 

.extras {
  background: rgb(172, 172, 172);
}


.extras .slide .title {
padding: 1rem;
font-size: 2rem;
color: white;
background: peru;
width: 100%;
margin-bottom: 3rem;
}

.extras .slide .box-container {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

.extras .slide .box-container .box {
  flex: 1 1 41rem;
  background: white;
  padding: 1rem;
  box-shadow: 0 .5 0.5rem rgba(0,0,0,0.3);
  border: 0.5rem solid rgba(0,0,0,0.1);
  display: flex;
  align-items: center;
  gap: 1rem;
}

.extras .slide ,.box-container .box h3 {
  font-size: 2rem;
  color: black;
  padding-bottom: 0.5rem;
}

.extras .slide ,.box-container .box p{
  font-size: 1.5rem;
  color:grey;
  padding-bottom: 0.5rem;
  line-height: 1;
}

.extras .slide ,.box-container .box .price {
  font-size: 2rem;
  color: orange;
  padding-bottom: 0.5rem;
}

.extras .slide .box-container .box:hover{
  transform: scale(.8);
  cursor: pointer;
}